In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def factorial(n):
    result = 1
    for i in range(n, 0, -1):
        result *= i
    return result

def combinations(n,k):
    numerator = factorial(n)
    denominator = factorial(k)*factorial(n-k)
    return numerator/denominator

In [3]:
def one_ticket_probability(li):
    tot_comb = combinations(49,6)
    prob_1_ticket = (1/tot_comb)*100
    print("The probability of {} winning is {:.7f}%".format(li, prob_1_ticket))

In [4]:
test = [3,11,12,14,41,43]
one_ticket_probability(test)

The probability of [3, 11, 12, 14, 41, 43] winning is 0.0000072%

In [5]:
data = pd.read_csv("649.csv")

In [6]:
data.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [7]:
data.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [8]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

winners = data.apply(extract_numbers, axis=1)
winners.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [9]:
def check_historical_occurance(userli, winners):
    test = set(userli)
    mask = test == winners
    print("The numbers {} have won {} times in the past.".format(test, mask.sum()))

In [10]:
check_historical_occurance(test, winners)

The numbers {3, 41, 11, 12, 43, 14} have won 1 times in the past.

In [11]:
def multi_ticket_probability(n):
    tot_comb = combinations(49,6)
    prob_multi_ticket = (n/tot_comb)*100
    print("The probability of the winner being among {} tickets played is {:.7f}%".format(n, prob_multi_ticket))

In [12]:
multi_ticket_probability(1)

The probability of the winner being among 1 tickets played is 0.0000072%

In [13]:
multi_ticket_probability(10)

The probability of the winner being among 10 tickets played is 0.0000715%

In [14]:
multi_ticket_probability(100)

The probability of the winner being among 100 tickets played is 0.0007151%

In [15]:
multi_ticket_probability(10000)

The probability of the winner being among 10000 tickets played is 0.0715112%

In [16]:
multi_ticket_probability(1000000)

The probability of the winner being among 1000000 tickets played is 7.1511238%

In [17]:
multi_ticket_probability(6991908)

The probability of the winner being among 6991908 tickets played is 50.0000000%

In [18]:
multi_ticket_probability(13983816)

The probability of the winner being among 13983816 tickets played is 100.0000000%

In [19]:
def probability_less_6(k):
    tot_comb = combinations(49,k)
    prob_multi_ticket = (1/tot_comb)*100
    print("The probability of a winning ticket including {} correct numbers out of a possible 6 is {:.7f}%".format(k, prob_multi_ticket))

In [20]:
for i in range(2,6,1):
    probability_less_6(i)

The probability of a winning ticket including 2 correct numbers out of a possible 6 is 0.0850340%
The probability of a winning ticket including 3 correct numbers out of a possible 6 is 0.0054277%
The probability of a winning ticket including 4 correct numbers out of a possible 6 is 0.0004720%
The probability of a winning ticket including 5 correct numbers out of a possible 6 is 0.0000524%

In [21]:
def probability_less_6_multi(n,k):
    tot_comb = combinations(49,k)
    prob_multi_ticket = (n/tot_comb)*100
    print("The probability of a having a winning ticket including {} correct numbers out of a possible 6 when playing {} tickets is {:.7f}%".format(k, n, prob_multi_ticket))

In [22]:
probability_less_6_multi(1,2)

The probability of a having a winning ticket including 2 correct numbers out of a possible 6 when playing 1 tickets is 0.0850340%

In [23]:
probability_less_6_multi(100,2)

The probability of a having a winning ticket including 2 correct numbers out of a possible 6 when playing 100 tickets is 8.5034014%

In [24]:
probability_less_6_multi(100,3)

The probability of a having a winning ticket including 3 correct numbers out of a possible 6 when playing 100 tickets is 0.5427703%

In [25]:
probability_less_6_multi(100,4)

The probability of a having a winning ticket including 4 correct numbers out of a possible 6 when playing 100 tickets is 0.0471974%

In [26]:
val = input("Enter your value: ")
print(val)

Enter your value:  25

25